cffi==1.14.5
Brotli==1.0.9
aiodns==3.0.0
ca_certs_locater==1.0
cchardet==2.1.7
cElementTree==1.0.2-20050302
coverage==5.5
crcmod==1.7
docutils==0.17.1
elementtree==1.2.6-20050316
grpc_reflection==1.0.0
grpc_tools==1.0.0
gunicorn==20.1.0
ipython==7.25.0
libcst==0.3.19
lockfile==0.12.2
lxml==4.6.3
nacl==0.0.0
oauth2client==4.1.3
Parser==0.1
Pygments==2.9.0
pytest==6.2.4
pythran==0.9.12.post1
pyu2f==0.1.5
runtests==0.0.28
tensorflow==2.5.0
tokio==0.2.0
uvloop==0.15.3
